Source: php-phpdocumentor-reflection
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq
Standards-Version: 4.6.2
Homepage: https://github.com/phpDocumentor/Reflection
Vcs-Git: https://github.com/Vitexus/php-phpdocumentor-reflection.git
Rules-Requires-Root: no

Package: php-phpdocumentor-reflection
Architecture: all
Depends: ${misc:Depends}, php-cli | php, composer,
 php-parser,
 php-phpdocumentor-reflection-common,
 php-phpdocumentor-reflection-docblock,
 php-phpdocumentor-type-resolver,
 php-webmozart-assert
Description: Reflection library for phpDocumentor
 Provides static analysis reflection of PHP source code
 for use by phpDocumentor.
